$black: #000;
$oranger-yellow: #FE980F;
$white: #ffffff;
$smart-white: #F0F0E9;
$DarkGray: #696763;
$blue: #0083C9;
$DarkTurquoise: #5BBCEC;
$red: #FF4518;
$sea: #90C9DC;
$oranger-red: #CE3C2D;
$smart-white: #f5f5f5;
$ghost-white: #B4B1AB;
$medium-oranger: #fdb45e;
$medium-gray: #B2B2B2;
$smart-oranger: #FDB45E;
$white-1: #E0E0DA;
$gray: #B4B1AB;
$gray-1: #8C8C88;
$white-gray: #DDDDDD;
$smart-gray: #CCCCC6;
$medium-black: #363432;
$grey-white: #bbb;
