<div class="col-sm-4">
  <div class="product-image-wrapper">
    <div class="single-products">
      <div class="productinfo text-center">
        <%= image_tag Settings.image.product1 %>
        <%= product.name %>
        <%= product.decription %>
        <%= product.quantity %>
      </div>
    </div>
  </div>
</div>
