<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <%= render "products/slider" %>
      </div>
    </div>
  </div>
  </section>

  <section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <%= render "products/sidebar" %>
      </div>
      <%= render "products/product" %>
    </div>
  </div>
</section>
