<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <%= render "products/slider" %>
      </div>
    </div>
  </div>
  </section>

  <section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <%= render "products/sidebar" %>
      </div>
      <div class="col-sm-9 padding-right">
        <div class="features_items">
        <%= render @products %>
        <%= paginate @products, theme: Settings.pages.theme %>
      </div>
    </div>
  </div>
</section>
